
:root {
    --jp-private-clusters-top-padding: 16px;
    --jp-private-clusters-side-padding: 32px;
    --jp-private-clusters-element-width: 200px;
    --jp-private-clusters-element-height: 30px;
}

.jp-Clusters {
    margin: 0;
    padding: 0;
    outline: none;
    background: var(--jp-layout-color0);
    box-sizing: border-box;
    min-width: 120px;
    min-height: 120px;
    /* This is needed so that all font sizing of children done in ems is
     * relative to this base size */
    font-size: var(--jp-ui-font-size1);
}

.jp-Clusters-body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.jp-Clusters-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    border-bottom: 1px solid var(--jp-border-color2);
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.jp-Clusters-title {
    font-size: var(--jp-ui-font-size2);
    font-weight: normal;
    color: var(--jp-ui-font-color1);
    box-sizing: border-box;
}

.jp-Clusters-content {
    width: 85%;
    height: 100%;
    padding-top: var(--jp-private-launcher-top-padding);
    padding-left: var(--jp-private-launcher-side-padding);
    padding-right: var(--jp-private-launcher-side-padding);
    box-sizing: border-box;
}

div.jp-Clusters-row-div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

span.jp-Clusters-leftspan {
    width: 150px;
    margin-right: 10px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

span.jp-Clusters-rightspan {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.jp-Clusters-location-input {
    width: var(--jp-private-clusters-element-width);
    height: var(--jp-private-clusters-element-height);
    margin: 8px;
    padding: 0px;
    border: 1px solid var(--jp-border-color1);
    background: var(--jp-layout-color1);
    box-shadow: var(--jp-elevation-z2);
    transition: .2s box-shadow;
    border-radius: var(--jp-border-radius);
    font-family: monospace;
    text-indent: 5px;
}

.jp-Clusters-label {
    width: 85px;
}

.jp-Clusters-profile-select {
    width: var(--jp-private-clusters-element-width);
    height: var(--jp-private-clusters-element-height);
    margin: 8px;
    padding: 0px;
    border: 1px solid var(--jp-border-color1);
    background: var(--jp-layout-color1);
    box-shadow: var(--jp-elevation-z2);
    transition: .2s box-shadow;
    border-radius: var(--jp-border-radius);
    font-family: monospace;
}

.jp-Clusters-numEngines-input {
    width: var(--jp-private-clusters-element-width);
    height: var(--jp-private-clusters-element-height);
    margin: 8px;
    padding: 0px;
    border: 1px solid var(--jp-border-color1);
    background: var(--jp-layout-color1);
    box-shadow: var(--jp-elevation-z2);
    transition: .2s box-shadow;
    border-radius: var(--jp-border-radius);
    font-family: monospace;
    text-indent: 5px;
}

.jp-Clusters-connect-div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.jp-Clusters-connect-button {
    display: inline-block;
    width: 100px;
    height: var(--jp-private-clusters-element-height);
    background-color: var(--jp-layout-color1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    /*border: 1px solid var(--jp-layout-color1);*/
    border: 1px solid var(--jp-toolbar-border-color);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.24);
    margin: 8px;
}


.jp-Clusters-connect-button:focus {
    box-shadow: var(--jp-toolbar-box-shadow);
    border: 1px solid var(--jp-toolbar-border-color);
}


.jp-Clusters-connect-button:enabled:active {
    border: 1px solid var(--jp-toolbar-border-color);
    background-color: var(--jp-toolbar-active-background);
    box-shadow: var(--jp-toolbar-box-shadow);
}

.jp-Clusters-connect-button:disabled {
    opacity: 0.4;
}

.jp-Clusters-connect-button.p-mod-toggled {
    background-color: var(--jp-toolbar-active-background);
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5);
}

.jp-Clusters-terminal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
